:root {
  --light-gray-color: #eeeeee;
  --black-color: #333333;
  --white-color: #ffffff;
  --primary-light-color: #eef6f5;
  --primary-color: #69b0a2;
  --primary-dark-color: #3e756a;
  --secondary-light-color: #cce6ff;
  --secondary-color: #3399ff;
  --secondary-dark-color: #004d99;
  --gray-color: #666;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-gray-color);
  color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

/* Container */

.container {
  width: 80%;
  margin-inline: auto;
}

/* Margin */

.margin-1 {
  margin-block: 1rem;
}

.margin-2 {
  margin-block: 2rem;
}

.margin-3 {
  margin-block: 3rem;
}

/* Flexbox */

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

/* Gap */

.small-gap {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.navbar {
  height: 6rem;
}

.logo-container {
  width: 3.125rem;
  height: 3.125rem;
}

.logo {
  width: 100%;
  height: 100%;
}

.bold {
  font-weight: bold;
}

.text-primary {
  color: var(--primary-color);
}

.full-height {
  height: 100%;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: var(--black-color);
  font-weight: bold;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.2rem);
  bottom: 0;
  left: 0;
  height: 0.2rem;
  width: 100%;
  background-color: var(--primary-color);
  transform: scale(0);
  transition: transform 0.2s;
}

.nav-link:hover::after {
  transform: scale(1);
}

.active {
  color: var(--primary-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background-color: var(--primary-dark-color);
}

/* Home Page */

.background {
  height: calc(100vh - 6rem);
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.background::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
}

.form {
  position: absolute;
  width: 100%;
  max-width: 30rem;
  top: calc(100% - 12rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.form input {
  flex: 1;
  padding: 0.5rem;
  border: none;
}

.form input:focus {
  outline: none;
}

.title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.underline {
  width: 5rem;
  height: 0.2rem;
  margin-inline: auto;
  background-color: var(--primary-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  width: 18rem;
  height: 30rem;
  background-color: var(--white-color);
  border-radius: 0.25rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s;
}

.card-image {
  background-position: center;
  background-size: cover;
  height: 26rem;
}

.card-1 {
  background-image: url(./images/mumbai.jpg);
}

.card-2 {
  background-image: url(./images/dubai.jpg);
}

.card-3 {
  background-image: url(./images/new-york.jpg);
}

.card-4 {
  background-image: url(./images/miami.jpg);
}

.card-body {
  padding: 0.75rem;
  height: 4rem;
}

.card:hover {
  transform: scale(1.025);
}

.room-1 {
  background-image: url("./images/bedroom.jpg");
}

.room-2 {
  background-image: url("./images/bathroom.jpg");
}

.room-3 {
  background-image: url("./images/balcony.jpg");
}

.room-4 {
  background-image: url("./images/livingroom.jpg");
}

.footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding-block: 3rem;
}

.footer-title {
  margin-bottom: 2rem;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  max-width: 15rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.alternate {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 0.2rem solid transparent;
}

.alternate:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 0.2rem solid var(--white-color);
}

.link {
  display: inline-block;
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--white-color);
  transform: scale(0);
  transition: transform 0.2s;
}

.link:hover::after {
  transform: scale(1);
}

.info {
  font-weight: bold;
  margin-bottom: 1rem;
}

.social-media-icon {
  width: 2rem;
}

/* Contact Page */

.person img {
  width: 6rem;
  height: 6rem;
}

.person p {
  color: var(--gray-color);
}

/* Login Page */

.login-page {
  height: 100vh;
  display: grid;
  place-items: center;
}

.login-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  color: var(--white-color);
  background-image: linear-gradient(
    to top right,
    var(--secondary-color),
    var(--secondary-dark-color)
  );
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.illustration-container {
  background-color: var(--white-color);
}

.login-illustration {
  width: 40rem;
  border-radius: 50%;
  transition: transform 2.5s;
}

.login-illustration:hover {
  transform: rotate(360deg);
}

.login-form-container {
  width: 100%;
  max-width: 30rem;
}

.login-form-container h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.input-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.login-form input {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0 3rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--secondary-light-color);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  display: block;
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.25rem;
}

.login-form button:hover {
  cursor: pointer;
}

/* About Page */

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.two-columns img {
  width: 100%;
  border-radius: 0.25rem;
}

.second-column {
  width: 80%;
  margin-inline: auto;
}

.second-column h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.second-column p {
  color: var(--gray-color);
  font-size: 0.9rem;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 1rem;
}

.second-column p::first-letter {
  font-size: 2rem;
  line-height: 1;
}

.second-column a {
  color: var(--primary-color);
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

/* Meeting Page */

.parent {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.left {
  padding-inline: 1rem;
  font-size: 0.8rem;
}

.left > *:first-child {
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.left > *:not(:last-child) {
  margin-bottom: 1rem;
}

.left > * {
  padding: 0.5rem;
}

.meetings {
  display: grid;
  gap: 1rem;
}

.meeting img {
  width: 100%;
}
